.btn {
  display: block;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  background: #000;
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.85;
}

.esgotado {
  background: #aaa;
  cursor: not-allowed;
  pointer-events: none;
}